<launch>
    <arg name="node_name"
         default="performance_constraints_lwr_node" />

    <node pkg="performance_constraints_lwr"
          type="performance_constraints_lwr"
          name="$(arg node_name)"
          output="screen">

        <rosparam command="load"
                  file="$(find performance_constraints_lwr)/config/config.yml" />

    </node>
</launch>
